
* {
  margin: 0;
  padding: 0;
  font-family: 'Bitter', serif;
  transition: all 0.5s ease;
  vertical-align: top;
}

body {
  padding: 1vw 2vw;
  background-color: #f4f8ff;
}

h1 {
  display: flex;
  align-items: center;
}
h1 img { width: 2rem; }
h1, h2 { margin: 1rem 0 .5rem 0; }
.underlined { text-decoration: underline; }
a {
  text-decoration: none;
  color: #00f;
}

verse, interp {
  display: block;
  line-height: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
}
column {
  display: inline-block;
  margin: 1rem;
  text-align: justify;
}

interp {
  display: block;
}
interp i {
  text-decoration: underline;
  text-decoration-style: dotted;
}

interp.dim, verse.dim {
  opacity: .25;
}
.unselectable {
  user-select: none;
}

cite {
  font-size: 80%;
  display: inline-block;
  min-width: 1rem;
}

description {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

material {
  display: block;
  padding-top: 1rem;
  line-height: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #eee;
  }
  .underlined {
    text-decoration-color: #eee;
  }
  a {
    color: #ccf;
  }
}

@media only screen and (min-width: 1920px) {
  column {
    max-width: 82rem;
  }
  column.thin {
    max-width: 27rem;
  }
}