
* {
  margin: 0;
  padding: 0;
  font-family: 'Bitter', serif;
  transition: all 0.5s ease;
  vertical-align: top;
}

body {
  padding: 2vw;
  background-color: #f4f8ff;
}

h1 {
  display: flex;
  align-items: center;
}
h1 img { width: 2rem; }
h1, h2 { margin: 1rem 0 .5rem 0; }
.underlined { text-decoration: underline; }
a {
  text-decoration: none;
  color: #c0c;
}

verse, interp {
  display: block;
  line-height: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
}
column {
  display: inline-block;
  max-width: 86rem;
  margin: 1rem;
}

interp {
  display: block;
  max-height: 12rem;
  overflow-y: clip;
}
interp i {
  text-decoration: underline;
  text-decoration-style: dotted;
}

interp.hide {
  max-height: 0;
  user-select: none;
  overflow: hidden;
}
interp.dim, verse.dim {
  opacity: .25;
}

cite {
  font-size: 80%;
  display: inline-block;
  width: 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #eee;
  }
  .underlined {
    text-decoration-color: #eee;
  }
}
